@import "reset";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 40px auto;
}

/*******Sidebar Filter**********/
@import "sidebar_filter.scss";
/*******List Product**********/
@import "list_product.scss";
/*******Count Product**********/
@import "product_count.scss";
/**CSS Reponsive**/
@import "_responsive.scss";
