<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div id="filter_sidebar">
            <div class="range_filter">
                <h3>Price</h3>
                <ul>
                    <li>£0 to £50</li>
                    <li>£50 to £100</li>
                    <li>£100 to £150</li>
                </ul>
            </div>

            <div class="range_filter">
                <h3>Screen Size</h3>
                <ul>
                    <li>4"</li>
                    <li>5"</li>
                    <li>5.1"</li>
                </ul>
            </div>
            
            <div class="range_filter">
                <h3>Rear-facing camera</h3>
                <ul>
                    <li>5MP</li>
                    <li>8MP</li>
                    <li>16MP</li>
                </ul>
            </div>
            <div class="count_result_filter">
                Found 0 products
            </div>
        </div>

        <div id="list_product">
        	<div class="item">
                <div class="list_image_product">
                    <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                </div>
                <div class="list_product_info">
                    <span>Samsung</span>
                    <h3>Galaxy S6</h3>
                    <ul>
                        <li>Android</li>
                        <li>Galaxy S6</li>
                        <li>16 Megapixel camera</li>
                        <li>5.1"</li>
                    </ul>
                    <p>
                        <a class="readmore" href="#">View Product →</a>
                    </p>
                </div>
                <div class="list_product_price">
                    <span>£ 410.52</span>
                    <small>ex. VAT</small>
                </div>
            </div>

            <div class="item">
                <div class="list_image_product">
                    <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                </div>
                <div class="list_product_info">
                    <span>Samsung</span>
                    <h3>Galaxy S6</h3>
                    <ul>
                        <li>Android</li>
                        <li>Galaxy S6</li>
                        <li>16 Megapixel camera</li>
                        <li>5.1"</li>
                    </ul>
                    <p>
                        <a class="readmore" href="#">View Product →</a>
                    </p>
                </div>
                <div class="list_product_price">
                    <span>£ 410.52</span>
                    <small>ex. VAT</small>
                </div>
            </div>

            <div class="item">
                <div class="list_image_product">
                    <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                </div>
                <div class="list_product_info">
                    <span>Samsung</span>
                    <h3>Galaxy S6</h3>
                    <ul>
                        <li>Android</li>
                        <li>Galaxy S6</li>
                        <li>16 Megapixel camera</li>
                        <li>5.1"</li>
                    </ul>
                    <p>
                        <a class="readmore" href="#">View Product →</a>
                    </p>
                </div>
                <div class="list_product_price">
                    <span>£ 410.52</span>
                    <small>ex. VAT</small>
                </div>
            </div>

            <div class="item">
                <div class="list_image_product">
                    <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                </div>
                <div class="list_product_info">
                    <span>Samsung</span>
                    <h3>Galaxy S6</h3>
                    <ul>
                        <li>Android</li>
                        <li>Galaxy S6</li>
                        <li>16 Megapixel camera</li>
                        <li>5.1"</li>
                    </ul>
                    <p>
                        <a class="readmore" href="#">View Product →</a>
                    </p>
                </div>
                <div class="list_product_price">
                    <span>£ 410.52</span>
                    <small>ex. VAT</small>
                </div>
            </div>
            <div class="notfound">
                No results found
            </div>
        </div>
    </body>
</html>
