<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body ng-app="TechicalTest">
        <div ng-controller='ProductFiltersController'>
            <div id="filter_sidebar">
                <div class="range_filter">
                    <h3>Price</h3>
                    <ul>
                        <li ng-if="filter.price" ng-click="filter.price=''; getDataFilter()" class="active_icon">
                            {{filter.price.label}}
                        </li>
                    </ul>
                    <ul ng-hide="filter.price">
                        <li ng-repeat="price in priceFilters"
                        ng-click="filter.price = price; getDataFilter();">
                            {{price.label}}
                        </li>
                    </ul>
                </div>

                <div class="range_filter">
                    <h3>Screen Size</h3>
                    <ul>
                        <li ng-if="filter.screensize" ng-click="filter.screensize=''; getDataFilter()" class="active_icon">
                            {{filter.screensize.label}}
                        </li>
                    </ul>
                    <ul ng-hide="filter.screensize">
                        <li ng-repeat="screensize in screensizeFilters"  ng-click="filter.screensize = screensize; getDataFilter()">
                            {{screensize.label}}
                        </li>
                    </ul>
                </div>
                
                <div class="range_filter">
                    <h3>Rear-facing camera</h3>
                    <ul>
                        <li ng-if="filter.camera" ng-click="filter.camera=''; getDataFilter()" class="active_icon">
                            {{filter.camera.label}}
                        </li>
                    </ul>
                    <ul ng-hide="filter.camera">
                        <li ng-repeat="camera in cameraFilters" ng-click="filter.camera = camera; getDataFilter();">
                            {{camera.label}}
                        </li>
                    </ul>
                </div>
                <div class="count_result_filter">
                    Found {{ products.length }} products
                </div>
            </div>

            <div id="list_product" ng-init="init()">
            	<div class="item" ng-repeat="product in products">
                    <div class="list_image_product">
                        <img src="{{product.device.images[0].url}}" />
                    </div>
                    <div class="list_product_info">
                        <span>{{ product.device.brand }}</span>
                        <h3>{{ product.device.model }}</h3>
                        <ul>
                            <li>{{ product.device.os }}</li>
                            <li>{{ product.device.model }}</li>
                            <li>{{ product.device.camera }} Megapixel camera</li>
                            <li>{{ product.device.screensize }}"</li>
                        </ul>
                        <p>
                            <a href="#" class='readmore'>View Product →</a>
                        </p>
                    </div>
                    <div class="list_product_price">
                        <span>£ {{ product.price }}</span>
                        <small>ex. VAT</small>
                    </div>
                </div>

                <div ng-if="messages" class="notfound">
                    No results found
                </div>
            </div>
        </div>
        <script src="/vendor/angular.min.js"></script>
        <script src="/vendor/angular.min.js.map"></script>
        <script data-require="lodash.js@*" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script src="/scripts/controllers/filters.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
</html>
