<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body ng-app="TechicalTest">
        <div ng-controller='ProductFiltersController'>
            <div id="filter_sidebar">
                <div class="range_filter">
                    <h3>Price</h3>
                    <ul>
                        <li ng-repeat="price in priceFilters">
                            {{price.label}}
                        </li>
                    </ul>
                </div>

                <div class="range_filter">
                    <h3>Screen Size</h3>
                    <ul>
                        <li ng-repeat="screensize in screensizeFilters">
                            {{screensize.label}}
                        </li>
                    </ul>
                </div>
                
                <div class="range_filter">
                    <h3>Rear-facing camera</h3>
                    <ul>
                        <li ng-repeat="camera in cameraFilters">
                            {{camera.label}}
                        </li>
                    </ul>
                </div>
                <div class="count_result_filter">
                    Found 0 products
                </div>
            </div>

            <div id="list_product">
            	<div class="item">
                    <div class="list_image_product">
                        <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                    </div>
                    <div class="list_product_info">
                        <span>Samsung</span>
                        <h3>Galaxy S6</h3>
                        <ul>
                            <li>Android</li>
                            <li>Galaxy S6</li>
                            <li>16 Megapixel camera</li>
                            <li>5.1"</li>
                        </ul>
                        <p>
                            <a class="readmore" href="#">View Product →</a>
                        </p>
                    </div>
                    <div class="list_product_price">
                        <span>£ 410.52</span>
                        <small>ex. VAT</small>
                    </div>
                </div>

                <div class="item">
                    <div class="list_image_product">
                        <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                    </div>
                    <div class="list_product_info">
                        <span>Samsung</span>
                        <h3>Galaxy S6</h3>
                        <ul>
                            <li>Android</li>
                            <li>Galaxy S6</li>
                            <li>16 Megapixel camera</li>
                            <li>5.1"</li>
                        </ul>
                        <p>
                            <a class="readmore" href="#">View Product →</a>
                        </p>
                    </div>
                    <div class="list_product_price">
                        <span>£ 410.52</span>
                        <small>ex. VAT</small>
                    </div>
                </div>

                <div class="item">
                    <div class="list_image_product">
                        <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                    </div>
                    <div class="list_product_info">
                        <span>Samsung</span>
                        <h3>Galaxy S6</h3>
                        <ul>
                            <li>Android</li>
                            <li>Galaxy S6</li>
                            <li>16 Megapixel camera</li>
                            <li>5.1"</li>
                        </ul>
                        <p>
                            <a class="readmore" href="#">View Product →</a>
                        </p>
                    </div>
                    <div class="list_product_price">
                        <span>£ 410.52</span>
                        <small>ex. VAT</small>
                    </div>
                </div>

                <div class="item">
                    <div class="list_image_product">
                        <img src="//images.comparebusinessphones.co.uk/SCWiqf-Samsung_S6_black_front.png">
                    </div>
                    <div class="list_product_info">
                        <span>Samsung</span>
                        <h3>Galaxy S6</h3>
                        <ul>
                            <li>Android</li>
                            <li>Galaxy S6</li>
                            <li>16 Megapixel camera</li>
                            <li>5.1"</li>
                        </ul>
                        <p>
                            <a class="readmore" href="#">View Product →</a>
                        </p>
                    </div>
                    <div class="list_product_price">
                        <span>£ 410.52</span>
                        <small>ex. VAT</small>
                    </div>
                </div>
                <div class="notfound">
                    No results found
                </div>
            </div>
        </div>
        <script src="/vendor/angular.min.js"></script>
        <script src="/vendor/angular.min.js.map"></script>
        <script data-require="lodash.js@*" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script src="/scripts/controllers/filters.js"></script>
    </body>
</html>
