html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/***For HTML5**/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 40px auto; }

/*******Sidebar Filter**********/
#filter_sidebar {
  background: #fff;
  padding-top: 25px;
  border-radius: 5px;
  text-indent: 25px;
  width: 25%;
  float: left; }
  #filter_sidebar .range_filter {
    padding-bottom: 10px; }
    #filter_sidebar .range_filter h3 {
      font-size: 14px;
      color: #404040;
      margin: 0px;
      padding: 0px; }
    #filter_sidebar .range_filter ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      #filter_sidebar .range_filter ul li {
        line-height: 30px;
        color: #757575;
        cursor: pointer; }
        #filter_sidebar .range_filter ul li.active_icon {
          background: #8ac007 url(../images/check.png) no-repeat 100%;
          border-radius: 5px;
          color: #fff;
          display: block;
          margin-left: 25px;
          text-indent: 5%;
          width: 80%;
          cursor: pointer; }
  #filter_sidebar .count_result_filter {
    border-top: 1px solid #d7d7d7;
    margin-top: 20px;
    line-height: 60px;
    height: 60px; }

/*******List Product**********/
#list_product {
  width: 70%;
  float: left;
  margin-left: 5%; }
  #list_product .item {
    clear: left;
    border-radius: 5px;
    background: #fff;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative; }
    #list_product .item .list_image_product {
      float: left;
      width: auto;
      text-align: center;
      border-right: 1px solid #d7d7d7;
      padding-top: 45px;
      padding-bottom: 65px; }
  #list_product .list_image_product img {
    max-height: 210px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px; }
  #list_product .list_product_info {
    text-indent: 50px; }
    #list_product .list_product_info h3 {
      margin: 0 0 15px;
      padding: 0px; }
    #list_product .list_product_info span {
      text-transform: uppercase;
      color: #9a9a9a;
      display: block;
      margin-top: 30px; }
    #list_product .list_product_info ul {
      margin: 0px;
      padding: 0px;
      min-width: 200px; }
      #list_product .list_product_info ul li {
        color: #757575;
        font-size: 14px;
        line-height: 30px;
        list-style-position: inside; }
  #list_product .item a.readmore {
    text-decoration: none;
    display: block;
    color: #2780c4;
    font-size: 16px;
    margin-top: 25px; }
  #list_product .item .list_product_price {
    position: absolute;
    top: 0px;
    right: 10px; }
    #list_product .item .list_product_price span {
      display: block;
      font-weight: 800px;
      font-size: 18px;
      margin-top: 15px; }
    #list_product .item .list_product_price small {
      text-indent: 50px;
      display: block; }

.navbar_toggle {
  width: 90%;
  max-width: 550px;
  height: 45px;
  background: #628DB6;
  cursor: pointer;
  display: none;
  line-height: 45px;
  color: #FFF;
  text-indent: 10px;
  font-size: 18px; }
  .navbar_toggle a {
    text-decoration: none;
    float: right;
    background: #000;
    color: #FFF;
    padding-right: 10px;
    padding-left: 6px;
    font-weight: bold; }

/*******Count Product**********/
.notfound {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  height: 35px; }

/**CSS Reponsive**/
@media screen and (max-width: 700px) {
  #filter_sidebar {
    width: 90%;
    margin-bottom: 30px;
    border-radius: 0; }
  #list_product {
    width: 90%;
    clear: left;
    margin-left: 0px; }
  .navbar_toggle {
    display: block; }
  #filter_sidebar .count_result_filter {
    display: none; } }

@media screen and (max-width: 550px) {
  body {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .navbar_toggle {
    width: 100%; }
  #filter_sidebar {
    border-radius: none;
    width: 100%; }
  #list_product {
    width: 100%;
    margin-left: 0px; }
    #list_product .list_image_product img {
      max-height: 200px;
      table-layout: text; }
    #list_product .item .list_image_product {
      float: left;
      padding-top: 45px;
      padding-bottom: 65px;
      margin-bottom: 30px;
      border: none;
      text-align: center; }
  #filter_sidebar .count_result_filter {
    display: none; }
  #list_product .item .list_product_price {
    position: relative  !important;
    top: 0px  !important;
    right: 10px  !important; }
    #list_product .item .list_product_price span, #list_product .item .list_product_price small {
      text-indent: 60px !important; }
  .navbar_toggle {
    position: relative;
    width: 100%;
    font-size: 13px; }
    .navbar_toggle a {
      position: absolute;
      top: 0px;
      right: 0px; } }
